<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/3947aef1e2.js" crossorigin="anonymous"></script>
    <title>Todas las bandas</title>
    <link rel="stylesheet" href="/stylesheets/commonStyles.css">
  </head>
  <body>
    <%- include('modules/navbar.ejs') %>
    <main>
      <div class="container-fluid">
        <div class="col">
          <h2>Todas las bandas</h2>
        </div>
        <div class="col d-flex flex-wrap gap-3 justify-content-center">
          <% result.forEach((elem)=>{ %>
            <div class="card" style="width: 18rem;">
              <img src="/images/bands/<%= elem.band_img? elem.band_img : 'default.webp' %>" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><%= elem.doctor_name %></h5>
                <p class="card-text">Estilo: <%= elem.style? elem.style:'Por determinar' %></p>
                <a href="/bands/oneBand/<%= elem.id_band %>" class="btn btn-primary">Ver más</a>
              </div>
            </div>
          <% }) %>
        </div>
      </div>

    </main>
    <%- include("modules/footer.ejs") %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>